<div id="logindiv" class="container p-4">
  <div class="card card-body p-3">
    <div class="d-flex justify-content-center">
      <h2>Hier finden Sie weitere interessante Inhalte.</h2>
    </div>
    <p class="h4 p-1">Externe Links:</p>
    <ul>
      <li><a href="https://www.check24.net/">Check24</a></li>
      <li><a href="https://www.https://www.finanzen.net/">Finanzen.net</a></li>
      <li><a href="https://www.finanzfluss.de/vergleich/kreditkarte/">Finanzfluss
          Kreditkartenvergleich</a></li>
      <li><a href="https://www.zinsen-berechnen.de/">zinsen-berechnen.de</a></li>
      <li><a href="https://www.smartsteuer.de/online/">Smartsteuer</a></li>
    </ul>
    <p class="h4 p-1">Passende Videos:</p>
    <div class="responsive-video">
      <iframe width=100% height="calc(100vw * 9 / 16)" src="https://www.youtube.com/embed/Y6szGEiyN64" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="pt-2">
      <div class="responsive-video">
        <iframe width=100% height="calc(100vw * 9 / 16)" src="https://www.youtube.com/embed/eTCTGwFO1-Y" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
